:root{
    --pink:#e84393;
}

*{
    margin:0; padding:0;
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    outline: none; border:none;
    text-decoration: none;
    text-transform: none;
    transition: .2s linear;
}

html{
    font-size: 52.5%;
    scroll-behavior: smooth;
    scroll-padding-top: 6rem;
    overflow-x: hidden;
}

section{
    padding:4rem 10%;
}

.heading{
    text-align: center;
    font-size: 2rem;
    color:#333;
    padding:1rem;
    margin:2rem 0;
    background:honeydew;
}

.heading span{
    color:darkseagreen;
}

header{
    position: fixed;
    top:0; left:0; right:0;
    background:#fff;
    padding:2rem 9%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 1000;
    box-shadow: 0 .5rem 1rem rgba(0,0,0,.1);
}

header .logo{
    font-size: 3rem;
    color:#333;
    font-weight: bolder;
}

header .logo span{
    color:darkseagreen;
}

header .navbar a{
    font-size: 2rem;
    padding:0 1.5rem;
    color:#666;
}

header .navbar a:hover{
    color:darkseagreen;
}

header .icons a{
    font-size: 2.5rem;
    color:#333;
    margin-left: 1.5rem;
}

header .icons a:hover{
    color:darkseagreen;
}

header #toggler{
    display: none;
}

header .fa-bars{
    font-size: 3rem;
    color:#333;
    border-radius: .5rem;
    padding:.5rem 1.5rem;
    cursor: pointer;
    border:.1rem solid rgba(0,0,0,.3);
    display: none;
}

.Home{
    display: flex;
    align-items: center;
    min-height: 100vh;
    background-color: honeydew;
    justify-content: space-between;
}

.Home .content{
    max-width: 50rem;
}

.Home .content h3{
    font-size: 6rem;
    color:#333;
}

.Home .content span{
    font-size: 3.5rem;
    color:darkseagreen;
    padding:1rem 0;
    line-height: 1.5;
}

.Home .content p{
    font-size: 2rem;
    color:#999;
    padding:1rem 0;
    line-height: 1.5;
    text-align: justify;
}

.Home .Icon img{
    width: 500px;
    height: 500px;
    border-radius: 50%;
}

.About .row{
    display: flex;
    align-items: center;
    gap:2rem;
    flex-wrap: wrap;
    padding:2rem 0;
    padding-bottom: 2rem;
}


.About .row .content{
    flex:1 1 40rem;
}

.About .row .Me img{
    width: 350px;
    height: 350px;
    border-radius: 40%;
}

.About .row .content h3{
    font-size: 3.5rem;
    color:#333;
    margin-bottom: 10px;
}

.About .row .content p{
    font-size: 2rem;
    color:#999;
    padding:.5rem 0;
    padding-top: 1rem;
    line-height: 1.5;
}

.Future .row{
    display: flex;
    align-items: center;
    gap:2rem;
    flex-wrap: wrap;
    padding:2rem 0;
    padding-bottom: 3rem;
}

.Future .row .content{
    flex:1 1 40rem;
}

.Future .row .content p{
    font-size: 2rem;
    color:#999;
    padding:.5rem 0;
    padding-top: 1rem;
    line-height: 1.5;
    text-align: justify;
}

.Moments .row{
    display: flex;
    align-items: center;
    gap:2rem;
    flex-wrap: wrap;
    padding:2rem 0;
    padding-bottom: 3rem;
}

.Moments .row .content{
    flex:1 1 40rem;
}

.Moments .row .content h3{
    font-size: 3rem;
    color:#333;
    text-align: center;
    line-height: 1.5;
    margin-bottom: 50px;
}

.Moments .content span{
    font-size: 2.5rem;
    font-style: italic;
    color:darkseagreen;
    padding:1rem 0;
    line-height: 1.5;
    margin-bottom: 10px;
}

.Moments .row .content img{
    width: 150px;
    height: 150px;
    border-radius: 50%;
    float: left;
    margin-right: 10px;
}

.Moments .row .content p{
    font-size: 2rem;
    color:#999;
    padding:.5rem 0;
    padding-top: 1rem;
    padding-left: 2rem;
    line-height: 1.5;
    text-align: justify;
}

.footer .credit{
    text-align: center;
    padding:1.5rem;
    margin-top: 1.5rem;
    padding-top: 2.5rem;
    font-size: 2rem;
    color:#333;
    border-top: .1rem solid rgba(0,0,0,.1);
    padding-bottom: 9rem;
}

.footer .credit span{
    color:darkseagreen;
}


/* media queries  */
@media (max-width:991px){
    
    html{
        font-size: 55%;
    }

    header{
        padding:2rem;
    }

    section{
        padding:2rem;
    }

    .home{
        background-position: left;
    }

}

@media (max-width:768px){

    header .fa-bars{
        display: block;
    }

    header .navbar{
        position:absolute;
        top:100%; left:0; right:0;
        background:#eee;
        border-top: .1rem solid rgba(0,0,0,.1);
        clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
    }

    header #toggler:checked ~ .navbar{
        clip-path:polygon(0 0, 100% 0, 100% 100%, 0% 100%);
    }

    header .navbar a{
        margin:1.5rem;
        padding:1.5rem;
        background:#fff;
        border:.1rem solid rgba(0,0,0,.1);
        display: block;
    }

    .home .content h3{
        font-size: 5rem;
    }

    .home .content span{
        font-size: 2.5rem;
    }

    .icons-container .icons h3{
        font-size: 2rem;
    }
    
    .icons-container .icons span{
        font-size: 1.7rem;
    }
    
}

@media (max-width:450px){
    
    html{
        font-size: 50%;
    }

    .heading{
        font-size: 3rem;
    }

}